// Define global parameters
params {
  containerEngine = 'singularity'
  datadir = "${launchDir}/data"
  outdir  = "${launchDir}/results"
  fasta = "${launchDir}/FASTA/UPRC_9606.fasta"
  //process.executor = "slurm"
}

//Define technical parameters and profiles
profiles {
    standard {
        process {
            executor = 'local'
            withLabel: 'low' {
                memory='1G'
                cpus='1'
                time='6h'
            }
            withLabel: 'med' {
                memory='2G'
                cpus='2'
            }
            withLabel: 'high' {
                memory = '8G'
                cpus='8'
            }
        }
    }

    docker {
        // Enabling docker 
        docker.enabled = true
        docker.runOptions = '-u \$(id -u):\$(id -g)'
    }

    apptainer {
        apptainer.enabled = true
        apptainer.autoMounts = true
        apptainer.cacheDir = "$VSC_SCRATCH/.apptainer_cache"
    }
}




//Define technical parameters
process {
    withLabel: 'low' {
        memory='1G'
        cpus='1'
        time='6h'
    }
    withLabel: 'med' {
        memory='2G'
        cpus='2'
    }
    withLabel: 'high' {
        memory = '8G'
        cpus='4'
    }
}

// Define process-specific settings
process {
  withName: THERMORAWFILEPARSER {
    publishDir = [
      path: "${params.outdir}/parser/",
      mode: 'copy'
      // pattern: '*.mzML'  // optional: uncomment to limit to mzML
    ]
  }

  withName: DIANN_PREDICTOR{
    publishDir=[
        path:"${params.outdir}/predicted_library",
        mode: 'copy'
    ]
  }

  withName: COMBINE_STATS{
    publishDir=[
        path:"${params.outdir}/REPORT",
        mode:'copy'
    ]
  }
}